@using AppMVC.Areas.ProductManage.Models
@using AppMVC.Models.Product
@model UploadFile

@{
    ProductModel product = ViewData["product"] as ProductModel;
}

@section head{
    <link rel="stylesheet" href="~/css/Product/UploadProductImage.css" />
}


<h2>Product: @product.Title</h2>

<form method="post" enctype="multipart/form-data" >
    <label asp-for="UploadImage"></label>
    <input asp-for="UploadImage" />
    <span asp-validation-for="@Model.UploadImage"></span>
    <br />
    <button class="btn btn-primary" asp-action="UploadImage" asp-route-id="@product.ProductId" >Uploads</button>
</form>

<hr />

<input 
    class="collapse"
    type="file"
    id="selectfileupload"
    onchange="AutoUploadFile()"
    data-id="@product.ProductId"
       data-url="@Url.Action("UploadImageAPI")" />

<span class="btn btn-primary" onclick="ClickButtonUpload()">Uploads</span>


<div id="box-image-upload" class="d-flex flex-wrap image-upload" 
    data-deleteUrl="@Url.Action("DeleteImage")" 
    data-url="@Url.Action("ListImage")" 
    data-id="@product.ProductId">
</div>

@section sidebar {
    @Html.Raw(_sideBarServices.RenderHtml(Url))
}

@section Scripts {
    <script src="/js/UploadPhoto/PhotoHandle.js"></script>

    <script>

        $(document).ready(function(){
            LoadImage();
        })
    </script>
}

