@model List<AppMVC.Areas.ProductManage.Models.CartItem>;

@{
    Layout = "_Layout";
}

<h2>Shopping Cart</h2>

@if (Model.Count > 0)
{
    double total = 0;
    int stt = 1;

    <table class="table">
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amounts</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.Quantity * cartitem.Product.Price;
            total += thanhtien;

            <tr>
                <td>@(stt++)</td>
                <td>@cartitem.Product.Title</td>
                <td>@(cartitem.Product.Price.ToString("n0"))</td>
                <td><input asp-for="@cartitem.Quantity" min="0" id="@($"quantity-{cartitem.Product.ProductId}")" /></td>
                <td>@(thanhtien.ToString("n0"))</td>
                <td>
                    <button class="btn btn-success updatecartitem"
                            data-productid="@cartitem.Product.ProductId">
                        Update
                    </button>
                    <a asp-action="RemoveCart" asp-route-productid="@cartitem.Product.ProductId"
                       class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Total</td>
            <td>@(total.ToString("n0"))</td>
            <td></td>
        </tr>
    </table>

    <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>

    @section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateCart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
    }

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}

